.Rproj.user
.Rhistory
.RData
.Ruserdata
Christie_CUA_DataDiary.md
2023 FNF Q1 Summaries_Final.docx
cases.md
final_regex.md
individual report/
act_146_worddocs/
act_33_quarterly/
cuaenvironment/
.jupyter/
.ipynb_checkpoints/